<ul>
    <button class="btn btn-danger"  [routerLink]="['/admin-login']">
        Back
    </button>
</ul>
  
<ul>
    <button class="btn btn-primary mx=3"  [routerLink]="['/incorporate-location']">
        Sucursal
    </button>
</ul>
<ul>
    <button class="btn btn-primary mt=3"  [routerLink]="['/incorporate-movie']">
        Película
    </button>
</ul>
<ul>
    <button class="btn btn-primary mt=3"  [routerLink]="['/incorporate-screen']">
        Sala
    </button>
</ul>
<ul>
    <button class="btn btn-primary mt=3"  [routerLink]="['/incorporate-proyection']">
        Proyecciones
    </button>
</ul>